@media screen and (max-width: 620px) {
  .goBack {
    z-index: 2;
    display: block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    transform: rotate(-45deg);
    position: absolute;
    top: 24px;
    left: 32px;
    cursor: pointer;
  }
}
