.mainContainer {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0px 0px 79px;
}

.mainArticle {
  max-width: 1178px;
  padding: 0 0 70px;
  margin: 0 auto;
  padding: 0 5px 70px;
}
@media screen and (max-width: 890px) {
  .mainContainer {
    padding: 0 20px;
  }
  .mainCenterBlock {
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .mainContainer {
    padding: 0;
  }
  .mainArticle,
  .mainCenterBlock {
    max-width: 1178px;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
  }
}
