.mainContainer {
  max-width: 1178px;
  margin: 0 auto;
  padding: 52px 10px 37px;
}
.cardsContent {
  width: 100%;
  margin: 0 auto;
}
.cards {
  max-width: 1158px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-auto-rows: 441px;
  grid-gap: 40px 26px;
  justify-content: center;
  scrollbar-color: #ffffff #2e2e2e;
}
@media screen and (max-width: 1158px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 270px);
  }
}
@media screen and (max-width: 890px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 270px);
  }
  .mainContainer {
    padding: 0 20px;
  }
}
@media screen and (max-width: 620px) {
  .cards {
    display: grid;
    grid-gap: 10px 10px;
    justify-content: center;
  }
}
@media screen and (max-width: 590px) {
  .cards {
    grid-template-columns: repeat(auto-fit, 137px);
    grid-auto-rows: 293px;
    margin-bottom: 30px;
  }
}
