.modal__title:hover::before {
  border-top: 2px solid #0080c1;
  border-left: 2px solid #0080c1;
}

.modal__title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 500;
  color: #000000;
}

.modal__scroll {
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
  scrollbar-color: #ffffff #2e2e2e;
  scrollbar-width: thin;
  scrollbar-width: 0px;
}
.modal__scroll::-webkit-scrollbar {
  width: 0px;
  background-color: #ffffff;
}
.modal__scroll::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 0px;
}

.commentForm {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.commentBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}
.commentBlock label {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: #000000;
}
.commentTextarea {
  padding: 10px 19px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
  width: 100%;
  height: 100px;
  max-height: 100px;
}

.commentTextarea::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004d;
}

.commentTextarea:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004d;
}
.commentTextarea::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004d;
}
.commentTextarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004d;
}

.reviewContainer {
  width: 100%;
  height: 45vh;
}
.review {
  display: flex;
  margin: 15px 0;
}
.reviewItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.reviewLeft {
  margin-right: 12px;
}
.reviewImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  overflow: hidden;
}
.reviewImg img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.reviewName {
  margin-bottom: 12px;
  font-weight: 600;
}
.reviewName span {
  margin-left: 10px;
  color: #5f5f5f;
}
.reviewTitle {
  font-weight: 600;
}

@media screen and (max-width: 620px) {
  .modal__title {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
    margin-left: 20px;
  }
  .commentForm {
    margin-top: 22px;
  }
  .commentBlock {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 28px;
  }
  .commentBlock label {
    display: none;
  }
  .commentTextarea {
    max-height: 107px;
    padding: 9px 17px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1;
  }
  .commentTextarea::placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #c4c4c4;
  }
  .reviewContainer {
    height: 55vh;
  }
}
