.wrapper {
  width: 100%;
  min-height: 100%;
}

.containerSignup {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f4f5f6;
}

.modaltn-signup-ent:hover {
  background-color: #0080c1;
}

.modal__btn-signup-ent:active {
  background-color: #0080c1;
}

.modalBlock {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalFormLogin {
  width: 366px;
  height: auto;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 42px 47px;
  row-gap: 30px;
}
.modalLogo {
  width: 140px;
  height: 21px;
  margin-bottom: 42px;
  background-color: transparent;
}
.modalLogo img {
  width: 140px;
  height: auto;
}
.modalBtnSignupEnt {
  width: 278px;
  height: 62px;
  background-color: #009ee4;
  border-radius: 6px;
  border: none;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalBtnSignupEnt {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .modalBlock {
    left: calc(50% - 160px);
    top: 55px;
  }
  .modalFormLogin {
    width: 320px;
    height: auto;
    border-radius: 0px;
    padding: 40px 20px;
    row-gap: 14px;
  }
  .modalLogo {
    width: 120px;
    height: 18px;
    margin-bottom: 30px;
    background-color: transparent;
  }
  .modalLogo img {
    width: 120px;
    height: auto;
  }
  .modalBtnSignupEnt {
    height: 46px;
    border: none;
    margin-top: 26px;
  }
  .modalBtnSignupEnt a {
    font-size: 16px;
    line-height: 24px;
  }
}
