.modal {
  height: 100vh;
  width: 100vw;
  max-width: 150vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  overflow: auto;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modalContent {
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  width: 50vw;
  transform: scale(0.5);
  transition: 0.5s;
}
.modalContent.active {
  transform: scale(1);
}
@media screen and (max-width: 1080px) {
  .modalContent {
    width: 80vw;
  }
}