.mainProfile {
  width: 100%;
  padding: 0 0 70px;
}

.profileContent {
  max-width: 834px;
}
.profileTitle {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 70px;
  font-weight: 500;
  color: #000000;
}
.profileSettings {
  display: flex;
  align-items: start;
}

.settingsLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 43px;
}
.settingsImg {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #f0f0f0;
}
.settingsImg img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
.settingsChangePhoto {
  margin-top: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #009ee4;
}
.settingsRight {
  width: 630px;
}
.settingsDiv {
  display: inline-block;
  margin: 0 7px 20px;
}
.settingsForm {
  width: 630px;
  display: flex;
  flex-wrap: wrap;
}
.settingsForm input {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 13px 19px;
}
.settingsForm input::-moz-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.settingsForm input::placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.settingsForm label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #c4c4c4;
  margin-bottom: 4px;
  display: block;
}
.settings__fname,
.settings__lname,
.settings__city {
  width: 300px;
}
.settings__phone {
  width: 614px;
}
@media screen and (max-width: 890px) {
  .profileContent {
    max-width: 834px;
    width: 100%;
  }
  .profileSettings {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 620px) {
  .mainProfile {
    width: 100%;
    padding: 0 0 40px;
  }
  .profileTitle {
    font-size: 18px;
    line-height: 1;
  }
  .settingsLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .settingsImg {
    width: 132px;
    height: 132px;
  }
  .settingsRight {
    width: 100%;
  }
  .settingsDiv {
    display: inline-block;
    margin: 0 0px 18px;
  }
  .settingsForm {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .settingsForm input {
    border-radius: 30px;
    padding: 9px 17px;
  }
  .settingsForm input::-moz-placeholder {
    font-size: 14px;
    line-height: 21px;
  }
  .settingsForm input::placeholder {
    font-size: 14px;
    line-height: 21px;
  }
  .settingsForm label {
    font-size: 14px;
    line-height: 21px;
    color: #c4c4c4;
    margin-bottom: 6px;
  }
  .settings__fname,
  .settings__lname,
  .settings__city {
    width: 100%;
  }
  .settings__phone {
    width: 100%;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  }
  .footer__container {
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__img {
    width: 42px;
    height: 42px;
  }
  .footer__img img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
