.btn {
  margin-left: 10px;
  width: 158px;
  height: 50px;
  background-color: #009ee4;
  border: 1px solid #009ee4;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.btn:hover {
  background-color: #0080c1;
}
.btn:disabled {
  background: #d9d9d9;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
@media screen and (max-width: 620px) {
  .btn {
    width: 100% !important;
    margin-left: 0;
  }
}
