.cardContainer {
  margin: 0;
}
.card {
  width: 270px;
  height: 441px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
.cardImage {
  width: 270px;
  height: 270px;
  background-color: #f0f0f0;
  border: 3px solid transparent;
  transition: border 0.5s;
}
.cardImage:hover {
  border: 3px solid#009ee4;
}
.cardImage img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
.cardTitle {
  height: 52px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #009ee4;
  margin-bottom: 10px;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardPrice {
  font-size: 16px;
  line-height: 24px;
}
.cardPlace,
.cardDate {
  font-size: 12px;
  line-height: 16px;
  color: #5f5f5f;
}
@media screen and (max-width: 590px) {
  .card {
    width: 137px;
    height: 293px;
    display: flex;
    flex-direction: column;
  }
  .cardImage {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 137px;
    height: 132px;
    background-color: #d9d9d9;
  }
  .cardImage img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .cardTitle {
    height: 51px;
    font-size: 14px;
    line-height: 17px;
    color: #009ee4;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .cardPrice {
    font-size: 16px;
    line-height: 24px;
  }
  .cardPlace,
  .cardDate {
    font-size: 12px;
    line-height: 16px;
    color: #5f5f5f;
  }
}
