.mainContainer {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0px 0px 79px;
}
@media screen and (max-width: 890px) {
  .mainCenterBlock {
    margin: 0 auto;
  }
}

@media screen and (max-width: 620px) {
  .mainContainer {
    padding-top: 40px;
  }
  .title {
    margin-left: 40px;
    padding-top: 20px;
  }
}
